<template>
    <div class="row ">
            <div class="col s3 right_panel" >
                <template v-if="currentUser">
                <h5>USERS</h5>
                <ul class="collection" >
                    <li class="collection-item"
                        v-for="item in users"
                        @click="setReciever(item)"
                        :class="{active: item === active_reciever}">{{item}}</li>
                </ul>
                </template>
                <template v-else>
                <div class="row">
                    <div class="col s11">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="user" type="text" class="validate" v-model="user_name">
                            <label for="user">User</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="key" type="text" class="validate" v-model="private_key">
                            <label for="key">Private key</label>
                        </div>
                        <button class="btn waves-effect waves-light" @click="sigin()" >Connect
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                    </div>
                </div>
                </template>
            </div>
            <div class="col s9 message_panel">
                <template v-if="currentUser">
              <div class="row">
                  <div class="message_window">
                   <message_list :messages="filterMessages" :user="currentUser" :reciever="active_reciever"></message_list>
                  </div>
                </div>
                  <div class="row msg-box">
                      <div class="input-field col s12">
                        <textarea id="textarea2" class="materialize-textarea" data-length="120" v-model="msg"></textarea>
                        <label for="textarea2">Message</label>
                      </div>
                      <div class="col s12">
                        <div class="row">
                            <div class="col s12 right-align telega-icon">
                                <a class="send_btn" title="send" @click="send_msg" >
                                  <i class="fab fa-telegram-plane fa-2x"></i>
                                </a>
                            </div>
                        </div>    
                      </div>
                    </div>
                </template>
            </div>
            
        </div>
</template>
<script>
    const Eos = require('eosjs')
    module.exports = {
        data: function() {
            return {
                currentUser: null,
                user_name: null,
                private_key: null,
                all_messages: [],
                msg: "",
                active_reciever: null,
                users: [ "devacc",
                        "last",
                        "smpl",
                        "vracc"],
                config: {
                    chainId: null, // 32 byte (64 char) hex string
                    keyProvider: ['5JUMqkHdKFqfaisUqi3KKyFNnSipVWfT4Zy579ASFS6375s1gXi'], // WIF string or array of keys..
                    httpEndpoint: 'http://127.0.0.1:8888',
                    // mockTransactions: () => 'pass', // or 'fail'
                    // transactionHeaders: (expireInSeconds, callback) => {
                    //   callback(null/*error*/, headers)
                    // },
                    expireInSeconds: 60,
                    broadcast: true,
                    // debug: false, // API and transactions
                    sign: true
                },
                EOS_CONFIG: {
                    contractName: "last", // Contract name,who create contract
                    contractSender: "last", // User executing the contract (should be paired with private key),who run contract
                    clientConfig: {
                        keyProvider: ['5JUMqkHdKFqfaisUqi3KKyFNnSipVWfT4Zy579ASFS6375s1gXi'], // Your private key
                        httpEndpoint: 'http://127.0.0.1:8888/' // EOS http endpoint
                    }
                }
            }
        },
        methods:{
            sigin(){
                this.private_key
                this.user_name
                if (this.users.indexOf(this.user_name) != -1)
                {
                    this.currentUser = this.user_name
                    this.users.splice(this.users.indexOf(this.user_name), 1)
                }
            },
            getallusers(){
                // let map1 = this.all_messages.map(x => x.sender);
                // let map2 = this.all_messages.map(x => x.receiver);
                // let map = map1.concat(map2)
                // this.users = [...new Set(map)]
            },
            setReciever(reciever){
                this.active_reciever = reciever
            },
            send_msg(){
                if(/\S/.test(this.msg)){
                    console.log(this.msg)
                    let self = this
                      Eos(self.config).contract("last").then(contract => {
                        contract.create({
                            "from": self.currentUser,
                            "to": self.active_reciever,
                            "data": self.msg
                        },
                        { authorization:  self.currentUser + "@owner" }
                        ).then(msg =>{
                            console.log(msg)
                            Eos(self.config).getTableRows(
                                {
                                "scope":self.EOS_CONFIG.contractName,   
                                "code":self.EOS_CONFIG.contractName,  
                                "table":"messages",
                                "json":true,
                                "limit": 1000,
                                "lower_bound": 0,
                                "upper_bound": 1000}
                                ).then((data) => {
                                    self.msg = ""
                                    self.all_messages = data.rows
                                    console.log(data)
                                }).catch((e) => {
                                    console.error(e);
                                })
                        }
                        )
                    })
                }
            }

        },
        computed: {
            filterMessages(){
                let self = this
                return (this.currentUser && this.active_reciever) ? this.all_messages.filter(x => (x.receiver === self.active_reciever && x.sender === self.currentUser) || (x.sender === self.active_reciever && x.receiver === self.currentUser)) : []
            }
        },
        created: function(){
              let self = this
              Eos(self.config).getTableRows(
                {
                    "scope":self.EOS_CONFIG.contractName,   
                    "code":self.EOS_CONFIG.contractName,  
                    "table":"messages",
                    "json":true,
                    "limit": 1000,
                    "lower_bound": 0,
                    "upper_bound": 1000}
                ).then((data) => {
                    console.log(data)
                    self.all_messages = data.rows
                    self.getallusers()
                }).catch((e) => {
                    console.error(e);
                })
        }
    }
</script>
<style scoped>
    .active {
        color: red;
    }
</style>