<template>
<div>
    <div v-for="message in messages">
       <div class="card-panel grey lighten-5 z-depth-1 massage-item" :class="{massage_panel_left: message.receiver !== reciever, massage_panel_right: message.receiver === reciever}">
            <div class="row valign-wrapper">
            <div class="col s12">
                <p class="black-text">
                    {{ message.sender }}
                </p>
                <span class="black-text">
                    {{ message.data }}
                </span>
            </div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
    export default {

        props: ["messages", "user", "reciever"],

        data: function() {
            return {
                msg: "Привет",
                modal: false
            }
        }
    }
</script>
<style scoped>

</style>