body {
  padding: 20px;
  background:#c5bfbf2e;
}

.right_panel{
  background: white;
  height: 90vh;
  overflow: auto;
  border: 3px solid #c5bfbf2e;;
}

.message_panel{
  position: relative;  
  background: white;
  height: 90vh;
  overflow: auto;
  border: 3px solid #c5bfbf2e;;
}
.hint{
  font-size: 12px;
}

.message_window{
  height: 75vh;
  padding: 30px;
  position: relative;
  overflow: auto
}
.form-group{
  position: relative;
}


.msg-box{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.send_btn:hover{
  cursor: pointer;
  color: #669bf1;
}


.fab{
  padding: 0 30px;
}
.telega-icon{
  padding: 10px;
}

.materialize-textarea{
  font-size: 14px !important;
  max-height: 100px!important;
  overflow: auto!important;
}

.massage_panel_left{
  padding: 10px 5px !important;
  font-size: 14px!important;
  width: 60%;
  margin-right: 40% !important;
}

.massage-item > .row{
  margin: 0!important;
}

.massage_panel_right{
  padding: 10px 5px !important;
  font-size: 14px!important;
  width: 60%;
  margin-left: 40% !important;
}